body {
	font-family: sans-serif;
	background-color: #f5fffa;
	color: #242424;
}

h1 {
	font: 150% Tahoma, Helvetica, Arial, sans-serif;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
	border-radius: 10px;
	background-color: #b2c0ff;
	padding: 10px;
}

hr {
	clear: both;
	height: 0.5px;
	color: #2f4f4f;
	background-color: #2f4f4f;
}

fieldset {
	background-color: #e6e6fa;
	border-radius: 10px;
}

legend {
	font-size: 110%;
	font-weight: bold;
}

summary {
	cursor: pointer;
}

summary.summaryTitle > span {
	border-radius: 6px;
/*	border: none;*/
	border: 2px solid #2f4f4f;
	background-color: #b2c0ff;
	padding: 3px;
	width: 12.5em;
/*	box-shadow: 3px 3px 4px #2f4f4f;*/
}

details.summaryBody > ul {
	background-color: #f5fffa;
	margin-top: 3px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 10px;
	padding-top: 20px;
	border-radius: 10px;
	border: 2px solid #2f4f4f;
}

li > details.summaryBody > ul {
	background-color: #e6e6fa;
}

li {
	list-style-type: none;
}

input {
	cursor: pointer;
}

input.button {
	border-radius: 6px;
	border-style: solid;
	border-color: #2f4f4f;
	background-color: #b2c0ff;
	padding: 3px;
	
}

input.button:disabled {
	background-color: #a9a9a9;
	color: #242424;
}

table, td, th {
	border: 1px solid #2f4f4f;
	border-collapse: collapse;
/*	width: 100%;*/
	padding: 2px;
}

th {
	text-align: center;
}

div.warning {
	color: #ff0000;
}
