<html xmlns:th="http://www.thymeleaf.org">

	<link rel="stylesheet" type="text/css" href="./style.css">
	<!-- To load offline the CSS -->
	<link rel="stylesheet" type="text/css" href="../static/style.css">

	<head>
		<meta charset="utf-8">
		<title>STANDING BUFFET SERVICE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<h1>STANDING BUFFET SERVICE</h1>
		<hr>
		
		<form name="prepareForm" action="/prepare" method="get">
			<fieldset>
				<legend>Tasks</legend>
				<details class="summaryBody">
					<summary class="summaryTitle"><span>Prepare the Room</span></summary>
					<ul>
						<li>&#x25BA; <input type="submit" class="button" name="prepareButton" value="Default Prepare"/></li>
						<br/>
						<li><details class="summaryBody">
							<summary class="summaryTitle"><span>Select Prepare Elements</span></summary>
							<ul>
								<li><dl>
									<fieldset>
									<legend><dt>Pantry</dt></legend>					  
										<dd th:each="elPantry : ${preparePantry}">
											<input type="checkbox" th:name="${elPantry.get(0)}"><label th:for="${elPantry.get(0)}" th:text="${elPantry.get(0)}"></label>
											<input type="number" th:name="'quantity' + ${elPantry.get(0)}" min="0" th:max="${elPantry.get(1)}" size="5" value="1"/>
										</dd>
									</fieldset>
									<fieldset>
									<legend><dt>Food</dt></legend>
										<dd th:each="elFridge : ${prepareFridge}">
											<input type="checkbox" th:name="${elFridge.get(0)}"><label th:for="${elFridge.get(0)}" th:text="${elFridge.get(0)} + ' - ' + ${elFridge.get(1)}"></label>
											<input type="number"  th:name="'quantity' +${elFridge.get(0)}" min="0" th:max="${elFridge.get(2)}" size="5" value="1"/>
										</dd>
									</fieldset>
								</dl></li>
								<br/>
								<li><input type="submit" class="button" name="prepareButton" value="Prepare the Room"/></li>
							</ul>
						</details></li>
					</ul>
				</details>
			</fieldset>
		</form>
		
		<fieldset>
			<legend>Management</legend>
			<details class="summaryBody">
				<summary class="summaryTitle"><span>Consult Room Resources</span></summary>
				<ul>
					<li><pre><table>
						<tr th:each="resource : ${consultRes}" >
							<th th:text="${#strings.substringBefore(resource,':')}"></th>
							<td th:text="${#strings.substringAfter(resource,': ')}"></td>
						</tr>
					</table></pre></li>
				</ul>
			</details>
		</fieldset>
		
	</body>
</html>
