<html xmlns:th="http://www.thymeleaf.org">

	<link rel="stylesheet" type="text/css" href="./style.css">
	<!-- To load offline the CSS -->
	<link rel="stylesheet" type="text/css" href="../static/style.css">

	<head>
		<meta charset="utf-8">
		<title>STANDING BUFFET SERVICE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<h1>STANDING BUFFET SERVICE</h1>
		<hr>

		<form name="addFoodClearForm" action="/addFood" method="get">
			<fieldset>
				<legend>Tasks</legend>
				<details class="summaryBody" th:open="${addFoodOpenAttr}">
					<summary class="summaryTitle"><span>Add Food on the Table</span></summary>
				    <ul>
				    	<li><textarea readonly="readonly" rows="10" cols="80" th:text="${foodList}"></textarea></li><br/>
				    	<li>
					    	<span>Insert a food-code corresponding to the food to add:</span>
					    	<input type="text" name="foodCode" th:value="${foodCode}" th:disabled="${disableEl}?:false" 
					    	placeholder="food-code (es.: s001)" pattern="[A-Za-z]{1}[0-9]{3}" 
					    	title="Insert here a food-code: a letter followed by three numbers"/>
					    	<input type="submit" class="button" name="addFoodButton" value="Add Food" 
					    	th:disabled="${disableEl}?:false"/>
						</li>
						<li><div class="warning" th:text="${warningStrRes}"></div></li>
					</ul>
				</details><br/>
				
				&#x25BA; <input type="submit" class="button" formaction="/clear" name="clearButton" 
				value="Clear the Room" th:disabled="${disableEl}?:false"/>
			</fieldset>	
		</form>
		
		<form name="ConsultStopForm" action="/consult" method="get">
			<fieldset>
				<legend>Management</legend>
				&#x25BA; <input type="submit" class="button" formaction="/stopReactivate" name="stopReactivateButton" 
				th:value="${stopReactivateValue}?:'Stop Task'"/><br/>
				<div class="warning" th:text="${stopStrRes}"></div><br/>
				
				<details class="summaryBody" th:open="${consultOpenAttr}">
				    <summary><input type="submit" class="button" name="consultButton" 
				    value="Consult Room Resources"/></summary>
					<ul>
						<li><pre><table th:hidden="${consulthiddenAttr}?:hidden">
							<tr th:each="resource : ${consultRes}" >
								<th th:text="${#strings.substringBefore(resource,':')}"></th>
								<td th:text="${#strings.substringAfter(resource,': ')}"></td>
							</tr>
						</table></pre></li>
					</ul>
			  	</details>			
			</fieldset>	
		</form>			

	</body>
</html>			
