<html xmlns:th="http://www.thymeleaf.org">

	<link rel="stylesheet" type="text/css" href="./style.css">
	<!-- To load offline the CSS -->
	<link rel="stylesheet" type="text/css" href="../static/style.css">

	<head>
		<meta charset="utf-8">
		<title>STANDING BUFFET SERVICE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<h1>STANDING BUFFET SERVICE</h1>
		<hr>
		
		<form name="prepareForm" action="/prepare" method="get">
			<fieldset>
				<legend>Tasks</legend>
				<details>
	    			<summary>Prepare the Room</summary>
				    <ul>
						<li>&#x25BA; <input type="submit" name="prepareButton" value="Default Prepare"/></li>
						<br/>
						<li><details>
			    			<summary>Select Prepare Elements</summary>
			    			<ul>
				    			<li><dl>
								  <dt>Pantry</dt>						  
								  <dd th:each="elPantry : ${preparePantry}">
								  	<input type="checkbox" th:name="${elPantry.get(0)}"><label th:for="${elPantry.get(0)}" th:text="${elPantry.get(0)}"></label>
								  	<input type="number" th:name="'quantity' + ${elPantry.get(0)}" min="0" th:max="${elPantry.get(1)}" size="5" value="0"/>
								  </dd>
								  <dt>Food</dt>
								  <dd th:each="elFridge : ${prepareFridge}">
								  	<input type="checkbox" th:name="${elFridge.get(0)}"><label th:for="${elFridge.get(0)}" th:text="${elFridge.get(0)} + ' - ' + ${elFridge.get(1)}"></label>
								  	<input type="number"  th:name="'quantity' +${elFridge.get(0)}" min="0" th:max="${elFridge.get(2)}" size="5" value="0"/>
								  </dd>
								</dl></li>
								<br/>
								<li><input type="submit" name="prepareButton" value="Prepare the Room"/></li>
							</ul>
						</details></li>
					</ul>
			  	</details>
			</fieldset>	
		</form>
		
		<fieldset>
			<legend>Management</legend>
			<details>
			    <summary>Consult Room Resources</summary>
				<textarea readonly="readonly" rows="10" cols="60" th:text="${consultRes}"></textarea>
				<pre><table th:each="resource : ${consultRes2}">
					<tr><td th:text="${resource}"></td></tr>
				</table></pre>
		  	</details>			
		</fieldset>				

		</form>
	</body>
</html>			
