<html xmlns:th="http://www.thymeleaf.org">

	<link rel="stylesheet" type="text/css" href="./style.css">
	<!-- To load offline the CSS -->
	<link rel="stylesheet" type="text/css" href="../static/style.css">

	<head>
		<meta charset="utf-8">
		<title>STANDING BUFFET SERVICE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<h1>STANDING BUFFET SERVICE</h1>
		<hr>
		
		<form name="ConsultStopForm" action="/consultStopTask" method="get">
		<fieldset>
			<legend>Management</legend>
			&#x25BA; <input type="submit" class="button" name="stopButton" th:value="${stopValue}?:'Stop Task'"/><br/>
			<div class="warning" th:text="${stopStrRes}"></div><br/>
			
			<details class="summaryBody" th:open="${consultOpenAttr}">
			    <summary><input type="submit" class="button" name="consultButton" value="Consult Room Resources"/></summary>
				<ul>
					<li><textarea th:hidden="${consulthiddenAttr}?:hidden" readonly="readonly" rows="5" cols="60" th:text="${consultRes}"></textarea></li>
					<li><pre><table th:hidden="${consulthiddenAttr}?:hidden" th:each="resource : ${consultRes2}">
						<tr><td th:text="${resource}"></td></tr>
					</table></pre></li>
				</ul>
		  	</details>			
		</fieldset>	
		</form>			
			
<!--			
<div>
	<form name="HomePageForm" method="post" enctype="multipart/form-data"></form>
	<form name="aggiungiArticoloForm" action="gestisciCliente.jsp" method="post"></form>
	<p id="">
		
	</p>
	Readonly: <input type="text" name="calendario" size="60" readonly="readonly"> <br>
	text: <input type="text" name="nome"> <br>
	Password: <input type="password" name="password"> <br>
	textArea readonly:<br>
		<textarea name="eventi" rows="25" cols="90" readonly="readonly"></textarea> <br>
	Pulsanti:	<br>
	<input type="button"  name="pulsante-eventi" value="Svuota Eventi">
	<input type="submit" name="pulsante-submit" value="Invia">
	<input type="reset" name="pulsante-reset" value="Azzera">
	Scelta: <br>
	<select name="passatempi" multiple="multiple">
		<option value="musica"> Musica </option>
	</select>
	
	<details>
	    <summary></summary>
	    <p></p>
  	</details>
  	
  	<form name="HomePageForm" action="/consult" method="get">
			<fieldset>
				<legend>Management</legend>
				<input type="submit" name="consultButton" value="Consult Room Resources"/>
				<p th:text="${consultRes}"></p>
				<div th:text="${consultRes}"></div>
				<textarea readonly="readonly"  th:text="${consultRes}"></textarea>
			</fieldset>	
		</form>	
</div>
-->

	</body>
</html>			
